

table.jCalendar {
	border: none !important;
	background: #ffffff;
    border-collapse: separate;
    border-spacing: 2px;
}
table.jCalendar th {
    border: none;
	background: #333333;
	color: #ffffff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #cccccc;
	color: #000000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #dddddd;
	color: #aaaaaa;
}
table.jCalendar td.today {
	background: #666666;
	color: #ffffff;
}
table.jCalendar td.selected {
	background: #ff6666;
	color: #ffffff;
}
table.jCalendar td.selected.dp-hover {
	background: #ff3333;
	color: #ffffff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #ffffff;
	color: #000000;
}
table.jCalendar tr.selectedWeek td {
	background: #ff6666;
	color: #ffffff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbbbbb;
	color: #888888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbbbbb;
	color: #888888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #ffffff;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 0 0 2px 4px;
	width: 178px;
	line-height: 1.2em;
    border: 1px solid black !important;
    z-index: 9998;
}
div#dp-popup {
	position: absolute;
}
div.dp-popup h2 {
	font-size: 14px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
    border: none !important;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
    border:none !important;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
    border:none !important;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-calendar {
    border:none !important;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaaaaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}
a.dp-choose-date {
	float: left;
	width: 23px;
	height: 20px;
	padding: 0;
	margin: 0 0 0 6px;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../Images/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -30px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}