    <!-- Frame-like Styles -->
body
   	{
	margin: 0; /* margin and padding only necessary to cater for Mac IE5 */
	padding: 0;
    border: none;
    background-color:#f7f8a7; 
	/*\*/	overflow: hidden; /* because Mac IE5 doesn't understand */
	}
form {
    margin: 0; /* margin and padding only necessary to cater for Mac IE5 */
	padding: 0;
    border: none;
    height: 0px;
    }      
div
	{
    border: 1px solid blue;
	margin: 0;
	padding: 0;
	}
label {
    display: inline-block;
    float: left;
    clear: left;
    padding-top: .5em;
    margin-left: .5em;
    text-align: left;
    height:1.5em !important;
    }
input[type="text"] {
    overflow: hidden;
    text-align: left !important;
    text-overflow: ellipsis !important;
}
input:focus { 
    outline:none;
    border-color:#ff9933;
    box-shadow:0 0 5px #ff9933 inset;
}

#header	{
	position: absolute;
	top: 10px;
    height: 28px;
	/*\*/right: 0;
	left: 10px;
    background: #f7f8a7;
	margin: 6px 0 0 10px;
	/*\*/ margin: 0;
    width: 1000px;
    font-size: 1.5em;
    padding-top: .25em;
    border-bottom: none;
}
#content {
	position: absolute;
	top: 42px;
	width: 800px;
    height: 709px;
	left: 210px;
    background-color:white;
    border-collapse: collapse;
	margin: 30px 0 0 10px; /* for Mac IE5 */
	/*\*/ margin: 0; /* Put back for all the rest */
	/*\*/ overflow: auto; /* no need for Mac IE5 to see this */
	}
#sidebar-left {
	position: absolute;
	top:  42px;
	left: 10px;
	height: 709px;
	overflow: auto;
	width: 200px;
    background-color: #f5f5f5;
    border-collapse: collapse;
	margin: 40px 0 0 10px; /* for Mac IE5 */
	/*\*/ margin: 0; /* Put back for all the rest */
	/*\*/ overflow: auto; /* no need for Mac IE5 to see this */
	}

    /* My Class Styles */
    /*-- TRBL --*/
#myDate {
    padding-top:3px;
    height: 30px;
    border: none !important;
    }
#buttonArea {
    padding-top: 4px;
    height: 52px;
    border: none;
    border-top: 1px solid blue;
    }
#myGrid {
    margin: 0px;
    height: 520px;
    border: none !important;
    }
#footer	{
    padding-top: 6px;
	height: 33px;
    background-color: #99cc99;
    border: none !important;
    border-top: 1px solid blue !important;
	}
#functionButtons {
    height: 53px;
    padding-top: 4px;
    padding-left: 6px;
    border: none !important;
    border-top: 1px solid blue !important;
}
#tooltip {
    font-size: 1em;
    padding: 4px 4px 4px 4px;
    background-color: moccasin;
    border: 1px solid darkblue;
    opacity: 0.90;
    width: auto;
}

#suspend {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    width: 1020px;
    height: 764px;
    background-color: lightseagreen;
    pointer-events:visible;
    z-index: 9000;
}
#suspendDiv {
    margin-top: 14em;
    height: 4.5em;
    border: 1px solid blue;
    font-size: 1.5em;
    font-weight:bold;
    -moz-border-radius:10px;
    border-radius:10px; 
}
#getData, #manageGiftCards {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    width: 1020px;
    height: 764px;
    background-color: lightseagreen;
    pointer-events:visible;
    z-index: 9000;
}
#getDataGrid, #getCustomerGrid, #getShippingGrid, #getHistoryGrid, #returnReasonsGrid, #getRequirementsGrid, #giftCardsGrid {
    margin: 3em 0 0 5em; 
    height: 560px;
    width: 900px;
    background: white;
    border: none !important;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    padding-bottom:12px;
    }

#getCustomer, #getShipping {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1020px;
    height: 764px;
    background-color: silver;
    pointer-events:visible;
    z-index: 9000;
}

#getHistory, #returnReasons, #getRequirements {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1020px;
    height: 764px;
    background-color: antiquewhite;
    pointer-events:visible;
    z-index: 9000;
}

.center
{
margin:auto;
width:50%;
background-color:#b0e0e6;
}

#msgBox {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    width: 1020px;
    height: 764px;
    /*background: white transparent scroll repeat 0% 0%;*/
    background: white;
    opacity: 0.4;
    filter:alpha(opacity=40);
    pointer-events:visible;
    z-index: 9997;
}
#_msgBox {
    position: absolute;
    top: 270px;
    left: 310px;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 168, 64, 1.0) !important;
    color: white !important;
    border: 3px solid white !important;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 9998;
}
#ProcessVoucher {
    position: absolute;
    left: 315px !important;
    top: 180px  !important;
    width: 380px;
    height: 10em;
    border: 3px solid rgba(0, 0, 0, 1.0);
    background-color: lightskyblue;
    color:black;
}
#voucherType {
    font-family:Arial;
    font-weight: bold;
    margin-top:.5em;
    text-align:center;
}
#CustomerNotes {
    position: absolute;
    left: 315px !important;
    top: 180px  !important;
    width: 23em;
    height: 19em;
    border: 3px solid rgba(0, 0, 0, 1.0);
    background-color: rgba(245, 209, 181, 0.90);
    color:black;
}
#OrderNotes {
    position: absolute;
    left: 315px !important;
    top: 180px  !important;
    width: 23em;
    height: 21em;
    border: 3px solid rgba(0, 0, 0, 1.0);
    background-color: rgba(205, 218, 240, 0.90);
    color:black;
}
#notesArea, #oNotesArea {
    width: 19em;
    height: 11em;
    margin:auto;
    resize: none;
}

#defineCategoryGroup {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    width: 1020px;
    height: 764px;
    background-color: rgba(255, 168, 64, 1.0);
    pointer-events:visible;
    border: none;
    z-index: 9000;
}
#_defineCategoryGroup {
    position:absolute;
    top: 200px;
    left: 270px;
    width: 460px;
    height: 420px;
    background-color: rgba(255, 168, 64, 1.0);
    color:white;
    border: 3px solid white;
    -moz-border-radius:10px;
    border-radius:10px;
}

#selectItem {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    width: 1020px;
    height: 764px;
    background-color:blue !important;
    pointer-events:visible;
    z-index: 9000;
}
#selectHSS {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    width: 1020px;
    height: 764px;
    background-color:indigo !important;
    pointer-events:visible;
    z-index: 9000;
}
#waiting {
    position: absolute;
    top: 340px;
    left: 500px;
    border: none !important;
    z-index: 9001;
    display: none;
}

#main {
	position: absolute;
	top: 0px;
	left: 20px;
	height: 320px;
	overflow: auto;
	width: 250px;
    background-color: rgba(255, 168, 64, 1.0);
    color:rgba(255, 255, 255, 1.0);
    font-weight: bold;
    border: none;
    border-color: none;
    border-collapse: collapse;
	margin: 30px 0 0 0px;
}
.main-div {
    border: none;
}
#grades	{
	position: absolute;
	top:  0px;
	left: 270px;
	height: 376px;
	overflow: auto;
	width: 130px;
    background-color: rgba(255, 168, 64, 1.0);
    color:rgba(255, 255, 255, 1.0);
    font-weight: bold;
    border: none;
    border-color: none;
    border-left:3px solid rgba(255, 255, 255, 1.0);
    border-collapse: collapse;
    padding-left: 1em;
	margin: 26px 0 0 0px;
}
.grades-div {
    border: none;
    border-bottom:1px solid rgba(255, 255, 255, 1.0);
    height: 2em;
}
.grades-label {
    display: inline-block;
}
.grades-radio {
    position:absolute;
    left:100px;
    margin-top: .2em;
}


.aspNetHidden {
    border: 0px !important;
    }

/* main buttons */
.buttons {
    height: 4em;
    width: 90px;
    background-color: #1d98ec;
    color: white;
    border-color:#dddddd gray gray #dddddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    vertical-align: middle;
    }
/* customer buttons */
.cbuttons {
    height: 4em;
    width: 44px;
    font-size: .8em;
    background-color: #dddddd;
    color: black;
    border-color:#dddddd gray gray #dddddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-left:2.5px;
    vertical-align: middle;
}
/* function buttons */
.fbuttons {
    height: 4em;
    width: 90px;
    background-color:silver;
    color: black;
    border-color:#dddddd gray gray #dddddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left:2px;
    margin-right:2px;
    margin-top:2px;
    vertical-align: middle;
}
/* find item buttons*/
.sbuttons {
    height: 80px;
    width: 144px;
    font-size: 1.2em;
    font-weight: bold;
    background-color:silver;
    color: black;
    border-color:#dddddd gray gray #dddddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left:4px;
    margin-right:4px;
    margin-top:4px !important;
    vertical-align: middle;
    display: none;
}
/* select add-on logo, etc. */
.hbuttons {
    height: 144px;
    width: 144px;
    font-size: 1.2em;
    font-weight: bold;
    background-color:silver;
    color: black;
    border-color:#dddddd gray gray #dddddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left:4px;
    margin-right:4px;
    margin-top:4px !important;
    vertical-align: middle;
    display: none;
}
#btnBack, #btnHSSback {
    height: 80px;
    width: 80px;
    background-image: url('../Images/back-btn.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: 0;
    border: none !important;
    margin-left:4px;
    margin-right:4px;
    margin-top:4px;
    display:inline-block !important;
}
#btnMore, #btnHSSmore {
    height: 80px;
    width: 120px;
    font-size: 1.6em;
    font-weight: bold;
    background-color:yellow;
    color: black;
    border-color:#dddddd gray gray #dddddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left:700px;
    margin-top: 4px;
    vertical-align: top;
    display:none;
}
    
.selectItemRows {
    border: none !important;
    overflow: hidden;
}
.hilite { 
    color:#f90000; 
    background-color:#ffe4b5;
    border-color:#ff0000;
}

.ui-dialog, .ui-dialog-titlebar, .ui-dialog-buttonpane {
    background-color: white;
    border: 1px solid blue;
}
.ui-dialog-titlebar-close {
    color: transparent;
}
.descrip{
    font-weight: bold;
    font-size: 1em;
    }
.descripHdr {
    font-weight: bold;
    font-size: .6em;
}
.customer {
    border: none;
    height:1.5em;
    }
.ui-widget-content {
    border: none;
    height:1.5em;
    }
ul.ui-autocomplete{
    position: absolute;
    left: 40px !important;
    width: 700px;
    text-overflow: ellipsis;
    /* font-family:Arial,Helvetica,sans-serif; */
}
li.ui-menu-item {
    font-weight: bold;
    background-color:#f7f8a7;
    border-top:1px solid black !important;
    padding-top:2px;
    padding-bottom: 2px;
    }
.notesEntry {
    font-size: 1.1em;
    margin-left: 6px;
    border: 0px;
    height: auto;
}

.tender {
    font-weight: bold;
    font-size: 1.6em;
    margin-left: 20px;
    border: none;
    text-align:right;
    padding-right: 1em;
    }
#contextMenu {
    background-color:#0ff;
    border: 1px solid gray;
    padding: 2px;
    display: inline-block;
    min-width: 100px;
    -moz-box-shadow: 2px 2px 2px silver;
    -webkit-box-shadow: 2px 2px 2px silver;
    z-index: 9990;
}

#contextMenu li {
    padding: 4px 4px 4px 14px;
    list-style: none;
    cursor: pointer;
    background: url("../Images/arrow_right_spearmint.png") no-repeat center left;
}

#contextMenu li:hover {
    background-color: white;
}

.cust_input {
    float: right !important;    
    clear: right !important;
    width: 110px !important;
    height:1.5em !important;
    text-overflow: ellipsis;
    text-align: left;
    margin-right: 6px !important;
    /*padding-right: 20px !important;*/
    /*padding-top: .25em !important;*/
    /*overflow: hidden;*/
}

.loading-indicator {
    display: inline-block;
    padding: 12px;
    background: white;
    opacity: 0.5;
    filter:alpha(opacity=40);
    color: black;
    font-weight: bold;
    z-index: 9999;
    border: 1px solid red;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    -text-shadow: 1px 1px 1px white;
}

.loading-indicator label {
    padding-left: 20px;
    background: url('../Images/ajax-loader-small.gif') no-repeat center left;
}
    
<!-- Slick Grid Styles  -->
.cell-title {
    font-weight: bold;
    font-size: 12px;
}

.cell-money {
    text-align: right;
}
.cell-money-offset {
    text-align: right;
    padding-right: 2em;
}

.cell-qty {
    text-align: center;
}
    
.cell-effort-driven {
    text-align: center;
}

.cell-selection {
    border-right-color: silver;
    border-right-style: solid;
    background: #f5f5f5;
    color: gray;
    text-align: right;
    font-size: 12px;
}

.slick-row.selected .cell-selection {
    background-color: transparent;  /*show default selected row background */
} 

    <!-- Appearance Styles -->

div.paddingwrap
	{
	margin: 0;
	padding: 1em;
	}
p, h1, h2, h4, li
	{
	margin: 0;
	padding: 0;
	}
h3
	{
	margin: 1em 0 0 0;
	}
ol
	{
	margin: 0 0 2em 1em;
	padding: 0;
	}
code
	{
	display: block;
	background-color: #dddddd;
	}
